.admin-layout {
  display: flex;
  height: 100vh;
  background-color: var(--bg-color);
  font-family: var(--font-family);
}

.admin-sidebar {
  width: 260px;
  background-color: var(--bg-color);
  border-right: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  box-shadow: 
    9px 9px 16px rgba(163, 177, 198, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.5);
  position: fixed; /* Make sidebar fixed */
  left: 0;
  top: 0;
  height: 100vh; /* Full height */
  flex-shrink: 0;
}

.sidebar-header {
  padding: 0 1.5rem;
  margin-bottom: 2rem;
  text-align: center;
}

.sidebar-header h2 {
  font-size: 1.8rem;
  color: var(--primary-color);
  margin: 0;
  font-weight: 800;
}

.sidebar-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-nav a {
  display: flex;
  align-items: center;
  padding: 1rem;
  text-decoration: none;
  color: var(--text-color-light);
  font-weight: 600;
  transition: all 0.2s ease;
  border-radius: var(--border-radius);
  margin-bottom: 1rem;
}

.sidebar-nav a:hover {
  color: var(--primary-color);
  box-shadow: 
    inset 2px 2px 5px #babecc,
    inset -5px -5px 10px #fff;
}

.sidebar-nav a.active {
  color: var(--primary-color);
  box-shadow: 
    inset 2px 2px 5px #babecc,
    inset -5px -5px 10px #fff;
}

.sidebar-nav .icon {
  margin-right: 1rem;
  font-size: 1.2rem;
}

.sidebar-footer {
  margin-top: auto;
  padding: 1.5rem;
}

.logout-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem;
  background: var(--bg-color);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-color-light);
  transition: all 0.2s ease;
  box-shadow: 
    5px 5px 10px rgba(163, 177, 198, 0.6),
    -5px -5px 10px rgba(255, 255, 255, 0.5);
}

.logout-button:hover {
  color: var(--primary-color);
  box-shadow: 
    inset 2px 2px 5px #babecc,
    inset -5px -5px 10px #fff;
}

.admin-main-content {
  flex: 1;
  padding: 2rem;
  overflow-y: auto;
  margin-left: 260px; /* Offset for fixed sidebar */
}

@media (max-width: 768px) {
  .admin-sidebar {
    width: 200px; /* Smaller fixed sidebar on smaller screens */
  }
  .admin-main-content {
    margin-left: 200px;
  }
}

@media (max-width: 576px) {
  .admin-sidebar {
    width: 150px; /* Even smaller fixed sidebar on very small screens */
  }
  .admin-main-content {
    margin-left: 150px;
  }
}
