.dashboard-page-wrapper {
  display: flex;
  background-color: var(--bg-color);
  min-height: 100vh;
  font-family: var(--font-family);
  color: var(--text-color);
}

.dashboard-sidebar {
  width: 240px;
  background-color: var(--bg-color);
  padding: 2rem;
  border-right: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  box-shadow: 
    9px 9px 16px rgba(163, 177, 198, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.5);
  position: fixed; /* Make sidebar fixed */
  left: 0;
  top: 0; 
  height: 100vh; /* Full height */
  flex-shrink: 0; /* Prevent sidebar from shrinking */
}

.sidebar-header h2 {
  font-size: 1.8rem;
  font-weight: 800;
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 3rem;
}

.sidebar-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-nav li a {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: var(--border-radius);
  text-decoration: none;
  color: var(--text-color-light);
  font-weight: 600;
  margin-bottom: 1rem;
  transition: all 0.2s ease;
}

.sidebar-nav li.active a {
  color: var(--primary-color);
  box-shadow: 
    inset 2px 2px 5px #babecc,
    inset -5px -5px 10px #fff;
}

.sidebar-nav li a:hover {
  color: var(--primary-color);
  box-shadow: 
    inset 2px 2px 5px #babecc,
    inset -5px -5px 10px #fff;
}

.sidebar-nav .icon {
  margin-right: 1rem;
  font-size: 1.2rem;
}

.dashboard-main-content {
  flex-grow: 1;
  padding: 2rem;
  background-color: var(--bg-color);
  margin-left: 240px; /* Offset for fixed sidebar */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .dashboard-sidebar {
    width: 200px; /* Smaller fixed sidebar on smaller screens */
  }

  .dashboard-main-content {
    margin-left: 200px; /* Adjust offset for smaller sidebar */
  }
}

@media (max-width: 576px) {
  .dashboard-sidebar {
    width: 150px; /* Even smaller fixed sidebar on very small screens */
  }
  .dashboard-main-content {
    margin-left: 150px; /* Adjust offset for very small sidebar */
  }
}
